.container{
    background-color:palevioletred;
    color: white;
    padding: 12px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

button{
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: red;
}